.intro-section {
  position: relative;
  margin-top: -6px;
}

.category-section {
  .category-box {
    position: relative;
    img {
      height: 100%;
    }
  }
}

.product-slider {
  .product-slider-item {
    width: calc(100% - 10px) !important;
    margin: 5px;
  }
}
