.arrow-box {
  display: flex;
  align-items: center;
  .arrow-box-item {
    width: 40px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
    color: $color-primary;
    background-color: $color-black;
    font-size: 22px;
    margin: 0 12px;
    &.slick-disabled {
      background-color: rgba($color-gray, 0.1);
    }
    &:not(.slick-disabled) {
      @include hover(0.2) {
        color: rgba($color-black, 1);
        background-color: rgba($color-primary, 1);
      }
    }
  }
}
