.icon-box {
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba($color-black, 1);
    background-color: rgba($color-primary, 1);
  }